<p>Dear User,</p>
<br>
<p>Your account is now active, and the login details for your registered account are provided as below:</p>
<p>
    <b> Login link: </b> <a href='{{ loginUrl }}'> {{ loginUrl }} </a>
</p>
<p>
    <b> Email: </b> {{ email }}
</p>
<p>
    <b> Password: </b>{{ password }}
</p>
<br>
<p>Thank you,</p>